body {
  background: goldenrod;
}
.App {
  text-align: center;
  margin-top: 20px;
}

button {
  margin-top: 10px;
  border-radius: 5px;
}

select {
  margin-bottom: 10px;
}

input {
  margin-top: 5px;
}

.meme img {
  width: 300px;
  margin-top: 20px;
  border-radius: 5px;
}

.meme span {
  position: absolute;
  width: 100%;
  left: 0px;
  margin-top: 210px;
  font-size: 38px;
  color: white;
  text-shadow: 2px 0 0 #000;
}

.meme span:nth-child(1) {
  margin-top: 50px;
}